:root {
  --primary-color: rgb(245, 71, 195, 0.1);
  --secondary-color: rgb(46, 20, 36);
  --primary-font-family: "Poppins", sans-serif;
}

.upper-info {
  padding: 120px 60px;
  background-color: var(--primary-color);
}
body {
  color: var(--secondary-color);
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: bold;
}
h2 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
h3 {
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: 24px;
}
h4 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
  font-size: 30px;
}

.btn-project {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 18px;
  padding: 18px 24px;
  margin-bottom: 20px;
}
.img-projects {
  padding: 30px;
  max-width: 90%;
}
.projects {
  background-color: var(--primary-color);
  margin: 25px;
  text-align: center;
}
.contact-info {
  background-color: var(--primary-color);
  margin: 50px 235px;
  padding: 40px;
  text-align: center;
}
.icon-contact {
  font-size: 40px;
}
.about-section {
  margin: 160px auto;
}
.about-section h1 {
  font-size: 65px;
  margin-bottom: 25px;
}
.about-section h2 {
  text-align: left;
  margin-bottom: 25px;
}
.about-section p {
  font-family: var(--primary-font-family);
  margin-bottom: 48px;
  line-height: 30px;
}
.about-section img {
  max-width: 80%;
}
@media (max-width: 900px) {
  h1 {
    font-size: 66px;
  }
  h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .btn-project-secondary {
    padding: 18px 85px;
  }
  .contact-info {
    margin: 0px auto;
  }
  .about-section {
    text-align: center;
    margin-top: 80px;
  }
  .about-section h2 {
    text-align: center;
    font-size: 20px;
  }
}
